.blue {
    background: #052781;
    color: white !important;
}

.text-white {
    color: white !important;
}

.logo-height {
    height: 42px;
}

.red-love {
    background: #f41616;
    color: white !important;
}

.red-soft {
    background: #e12323eb;
    color: white;
}

.green-soft {
    background: #14bf1f;
    color: white;
}

.green {
    background: #46dd1b;
    color: white !important;
}

.blue-work {
    background: #1d96ee;
    color: white !important;
}
.pd-t-0{
    padding-top: 0!important;
}
.pd-r-0{
    padding-right: 0!important;
}
.mg-l-15 {
    margin-left: 15px;
}

.mg-l-10 {
    margin-left: 10px;
}

.mg-l-5 {
    margin-left: 5px;
}

.mg-r-10 {
    margin-right: 10px;
}

.mg-r-0 {
    margin-right: 0!important;
}

.small-rounded {
    border-radius: 50% !important;
    height: 26px;
    min-width: 26px;
    line-height: 22px;
    text-align: center;
    padding-right: 1px;
    padding-left: 0px;
    font-size: 11px;
    box-shadow: 2px 2px 2px 0px #a27a7a63;
}

.shadow-bottom {
    box-shadow: 0px 2px 10px 0px #9d8a8a;
}

.label-rounded {
    border-radius: 12px;
    padding: 4px;
    box-shadow: 3px 3px 2px 0px #a27a7a96;
    font-size: 12px;
    font-weight: 700;
    padding-right: 5px;
}

.mg-r-70 {
    margin-right: 70px;
}

.ovale-badge {
    border-radius: 25px !important;
    height: 25px;
    min-width: 36px;
    line-height: 22px;
    text-align: center;
    padding-right: 1px;
    padding-left: 0px;
    font-size: 11px;
    box-shadow: 2px 2px 2px 0px #a27a7a63;
}

.mg-t-10 {
    margin-top: 10px;
}

div.chart {
    height: 350px;
}

.as-active {
   /* background: #4365bf;*/
    background: #4365bf;
    color: white!important;
    border: 1px solid aliceblue;
    border-radius: 20px 0px 0px 20px;
}
.as-active>a{
    color: white;
    text-decoration: none!important;
    width: 100%;
    position: relative;
    display: inline-block;
}

.as-nav>a{
    text-decoration: none!important;
    width: 100%;
    position: relative;
    display: inline-block;
}

.as-nav {
    /*border-radius: 50px;*/
    font-weight: 700;
    font-size: 14px;
    font-family: hindbold, sans-serif;
    text-decoration: none !important;
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border-right: 0;
}

.top-active {
    border: 2px solid white;
    border-radius: 20px;
}

.as-active:hover {
    margin-left: 3px;
    color: #fff !important;
}

.as-active>a:hover {
    margin-left: 3px;
    color: #fff !important;
}

.as-nav>a:hover {
    color: #bec0df;
   /* background: #f4f4f9; */
    margin-left: 3px;
    text-decoration: none !important;
}

.preview-content {
    max-height: 173px;
    overflow: hidden;
    position: relative;
    display: block;
    max-width: 395px;
    text-align: justify;
}
.logo{
    width: 45px;
    height: 50px;
}
.hg-150{
    height: 150px!important;
}
.wdt-30p{
    width: 30%;
}
.cause-entry .text{
    min-height: 433px!important;
}